* {
   font-family: Arial;

}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

/* Cabeçalho */
header { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 130px;
    

}

header:hover {
    background-color: #000;
    transition: all 200ms linear;
}

.logo {
    display: flex;
    justify-content: center;
    width:130px;
}
.logo img{
    height: 80px;
}

.navlogo{
    margin-left: 30px;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    
    height: 130px;
}

nav  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    margin: 30px;
    color: #fff;
}

nav li:hover {
    border-bottom: solid 2px #fff;
}

nav  li {
    height: 82px;
    letter-spacing: 3px;
}



.user_icon {
    display: flex;
    justify-content: end;
    justify-self: last baseline;
    margin-right: 30px;
}
.user_icon img{ 
    height: 50px;
}

/* Banner */
#banner {
    height: 600px;
    background-image: url(../imgs/banner6.png);
    background-size: cover;
}

.banner_text{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.btext_1 {
    font-size: 15px;
    letter-spacing: 3px
}

.btext_2 {
    font-size: 50px;
    letter-spacing: 8px;
}

/* categorias */
#categorias {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cat_title {
    margin-top: 100px;
    font-size: 20px;
}

.categoria { 
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.cat {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    margin: 50px 0px 0px 50px;
    width: 20%;
}

.cat a {
    text-decoration: none;
    color: #fff;
}

.cat img {
    width: 90%;
    border-radius: 50%;
}

.cat img:hover {
    transform: scale(1.1);
    transition: all 1s linear;
}

.cat_legend {
    margin-top: 30px;
    font-size: 15px;
    letter-spacing: 3px;
}

.linha{
    background-color: #888;
    height: 1px;
    width: 100%;
}

/* Destaques */
#destaques {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.destaque_title {
    font-size: 30px;
    margin-top: 80px;
    letter-spacing: 7px;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    margin-left: 3px;
    margin-top: 10px;
    margin: 30px;
    
}

.produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 19%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 50px;
}

.produto img{
    width: 100%;
    height: 100%;
}

.produto a {
    color: #fff;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

.preco {
    margin-top: 3px;
    font-size: 15px;
}

/* footer */
footer {
    display: flex;
    background-color: #ddd;
    color: #000;
    padding: 70px 30px 100px 30px;
}

.menu {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.footer_menu { 
    display: flex;
    flex-direction: column;
    
}

.footer_title { 
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.footer_menu a {
    margin-top: 10px;
    text-decoration: none;
    color: #555;
}

.footer_menu a:hover{
    color: #000;

}

.sobre {
    flex:1;
    
}

.sobre_text { 
    word-spacing: 2px;
    line-height: 25px;
    font-size: 15px;
}

.social {
    flex: 1;
    padding-left: 100px;
}

.social_content {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.social_logo {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.social_logo img{
    width: 50px;
}

.menu_mobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
   }

@media (max-width:970px) {

    .menu_mobile {
        display: block;
        margin-left: 20px;    
    }
    
    .mm_line { 
        height: 3px;
        background-color: #fff;
        margin-bottom: 8px;
        margin-top: 8px;
    }
    
    .navlogo{
        margin-left: 0;
        flex-direction: row-reverse;
        justify-content: left;
    }

    .logo { 
        width: 100px;
    }

    nav ul { 
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        margin-top: 130px;
        background-color: #000;
   }





   .categoria {
        flex-wrap: wrap;
   }

   .cat {
    width: 30%;
    margin: 20px ;
   }


   footer { 
    padding-top: 20px;
    flex-direction: column;
   }

   .menu, .sobre, .social {
    margin-top: 30px;
   }



   .social {
    padding: 0;
   }

   .social_content {
    width: 100%;
   }




   
    
}
@media (max-width:700px) {
    .produto {
        width: 30%;
    }

    .produtos {
        justify-content: space-around;
        
    }
}

@media (max-width:500px) {
    .produto {
        width: 45%;
    }


}